# Auto detect text files and perform LF normalization
* text=auto

# 排除glad生成文件...
ext/glad/include/KHR/khrplatform.h linguist-vendored
ext/glad/include/glad/gl.h linguist-vendored
ext/glad/src/gl.c linguist-vendored