# Auto detect text files and perform LF normalization
* text=auto

# 排除glad生成文件...
ext/glad/include/KHR/khrplatform.h linguist-vendored
ext/glad/include/glad/gl.h linguist-vendored
ext/glad/src/gl.c linguist-vendored

ext/imgui/src/imgui_demo.cpp linguist-vendored
ext/imgui/src/imgui_draw.cpp linguist-vendored
ext/imgui/src/imgui_impl_glfw.cpp linguist-vendored
ext/imgui/src/imgui_impl_opengl3.cpp linguist-vendored
ext/imgui/src/imgui_tables.cpp linguist-vendored
ext/imgui/src/imgui_widgets.cpp linguist-vendored
ext/imgui/src/imgui.cpp linguist-vendored
ext/imgui/include/imconfig.h linguist-vendored
ext/imgui/include/imgui_impl_glfw.h linguist-vendored
ext/imgui/include/imgui_impl_opengl3_loader.h linguist-vendored
ext/imgui/include/imgui_impl_opengl3.h linguist-vendored
ext/imgui/include/imgui_internal.h linguist-vendored
ext/imgui/include/imgui.h linguist-vendored
ext/imgui/include/imstb_rectpack.h linguist-vendored
ext/imgui/include/imstb_textedit.h linguist-vendored
ext/imgui/include/imstb_truetype.h linguist-vendored
ext/imgui/include/imfilebrowser.h linguist-vendored
